body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    color: #e2e8f0;
}

/* HERO */
.hero {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(135deg, #1e293b, #0f172a);
}

.hero h1 {
    font-size: 40px;
    margin: 0;
}

.hero p {
    color: #94a3b8;
    margin-top: 10px;
}

/* SECTIONS */
.section {
    max-width: 1000px;
    margin: auto;
    padding: 40px 20px;
}

/* GRID PROJETS */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

/* CARDS */
.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 12px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    background: #273449;
}

.card h3 {
    margin-top: 0;
}

.card span {
    font-size: 12px;
    color: #38bdf8;
}

/* BOUTON GITHUB */
.button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 14px;
    background-color: #38bdf8;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}

.button:hover {
    background-color: #0ea5e9;
}

/* SKILLS */
.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skills span {
    background: #1e293b;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 14px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    color: #64748b;
}
